.car,
.add-specification {
  width: 300px;
  height: 40px;
  background-color: var(--primary-light);
  color: var(--secondary-light);
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid var(--primary-dark);
}

.car {
  transition: transform 0.1s ease-in-out;
}

.car:hover,
.add-specification:hover {
  transform: scale(1.05);
}

.car.active {
  background-color: var(--primary-dark);
}

.car-specification {
  border: 2px dashed var(--primary-light);
  width: inherit;
  padding: 10px 0;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
